!!! Strict

%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "de"}
  %head
    %meta{:"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %title Nummernschildgenerator - Leet plate
    %link{:rel => 'stylesheet', :href => '/style.css', :type => 'text/css'}
  %body
    #main
      #header
        Leet plate - Finde Dein l337 KFZ-Kennzeichen!
      #content
        = yield
      #footer
        service on
        %a{:href => "http://sinatra.github.com/"} sinatra
        by
        %a{:href => "http://peter.suschlik.de"} splattael
        at
        %a{:href => "http://github.com/splattael/leetplate"} github
